header {
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 1; }

main .hero {
  background-image: url(../img/m-background.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: right;
  color: #ffffff; }
  main .hero div {
    background-color: #201a179f; }
    main .hero div h2 {
      font-size: 100px;
      font-weight: 100;
      padding: 10px;
      color: #ffffff; }
    main .hero div p {
      font-size: 16px;
      padding: 10px;
      font-weight: 100; }

main .nosotros {
  background-color: #201a17;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 650px;
  margin: 10px; }
  main .nosotros .nosotros-texto {
    width: 300px;
    position: relative; }
    main .nosotros .nosotros-texto h2 {
      font-weight: 200;
      font-size: 35px;
      text-align: center; }
    main .nosotros .nosotros-texto .linea {
      background-color: #eb880e;
      height: 4px;
      border-radius: 15px;
      margin-bottom: 10px; }
    main .nosotros .nosotros-texto p {
      text-align: left;
      font-size: 18px;
      color: #ffffff;
      padding: 10px 10px 50px 10px;
      font-weight: 100; }
    main .nosotros .nosotros-texto a {
      position: absolute;
      bottom: 0;
      left: 10px;
      border: #eb880e 1px solid;
      padding: 2px;
      color: #eb880e;
      font-size: 13px;
      font-weight: 200;
      border-radius: 5px; }
      main .nosotros .nosotros-texto a:hover {
        background-color: #ffffff;
        color: #eb880e;
        border: #eb880e 3px solid;
        font-weight: 400;
        padding: 2px;
        transition: 1s;
        padding: 5px;
        border-radius: 5px; }
  main .nosotros .nosotros-imagen {
    width: 33%;
    height: 380px;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eb880e56; }
    main .nosotros .nosotros-imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

main .ubicacion {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #201a17;
  color: #ffffff; }
  main .ubicacion div h2 {
    font-size: 35px;
    font-weight: 200; }
  main .ubicacion div .linea {
    background-color: #eb880e;
    height: 4px;
    border-radius: 15px;
    margin-bottom: 10px; }
  main .ubicacion .mapa {
    box-shadow: 5px 5px 5px #eb880e56;
    border: #eb880e56 2px solid;
    border-radius: 15px; }
    main .ubicacion .mapa iframe {
      border-radius: 15px;
      width: 850px;
      height: 400px;
      margin: 5px 5px 0 5px; }
  main .ubicacion .products {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #201a17;
    color: #ffffff;
    height: 600px; }
    main .ubicacion .products div h2 {
      font-size: 35px;
      font-weight: 200;
      color: #ffffff; }
    main .ubicacion .products .products-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 90%; }
      main .ubicacion .products .products-card div {
        position: relative;
        border: 2px solid #eb880e56;
        border-radius: 15px;
        box-shadow: 5px 5px 5px #eb880e56;
        display: flex;
        justify-content: center;
        width: 30%;
        height: 75%; }
        main .ubicacion .products .products-card div img {
          border-radius: 15px;
          height: 100%;
          width: 100%;
          object-fit: cover; }
        main .ubicacion .products .products-card div h3 {
          position: absolute;
          bottom: 119px;
          width: 100%;
          text-align: center;
          font-weight: 200;
          background-color: #201a17; }
        main .ubicacion .products .products-card div p {
          position: absolute;
          bottom: 100px;
          width: 100%;
          text-align: center;
          font-size: 12px;
          font-weight: 200;
          background-color: #201a17; }
        main .ubicacion .products .products-card div a {
          position: absolute;
          bottom: -20px;
          padding: 5px;
          background-color: #eb880e;
          color: #ffffff;
          border: solid white 2px;
          border-radius: 15px;
          text-decoration: none;
          filter: drop-shadow(5px 5px 2px black);
          font-weight: 600; }
          main .ubicacion .products .products-card div a:hover {
            background-color: #ffffff;
            color: #eb880e;
            border: #eb880e 3px solid;
            padding: 2px;
            transition: 1s;
            padding: 7px;
            border-radius: 15px;
            font-weight: 600; }

footer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  color: #201a17; }
  footer div {
    margin: 15px; }
    footer div a h4 {
      color: #201a17;
      font-weight: 600;
      font-size: 28px;
      text-decoration: none; }
    footer div a p {
      color: #201a17;
      font-weight: 600;
      font-size: 10px;
      text-decoration: overline; }
  footer div a img {
    padding: 2px;
    margin: 5px; }
