/* MEDIAS DEL INDEX + FOOTER */

@media screen and (max-width: 1024px) {
    main{
        .ubicacion{
            .mapa{
                width: 75%;
                iframe{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    main{
        .ubicacion{
            .mapa{
                width: 75%;
                iframe{
                    width: 100%;
                }
            }
        }
        .whatsapp{
            display: none;
        }
    }
}
@media screen and (max-width: 733px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 75px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 555px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 50px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    main{
        .nosotros{
            .nosotros-imagen{
                display: none;
            }
            .nosotros-texto{
                a{
                    position: absolute;
                    left: 120px;
                }
            }
        }
        .products{
            display: flex;
            flex-direction: column;
            height: 400px;
            .products-card{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 377px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 35px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

