/* MEDIAS DEL INDEX + FOOTER */

@media screen and (max-width: 1024px) {
    main{
        .ubicacion{
            .mapa{
                width: 75%;
                iframe{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    main{
        .ubicacion{
            .mapa{
                width: 75%;
                iframe{
                    width: 100%;
                }
            }
        }
        .whatsapp{
            display: none;
        }
    }
}
@media screen and (max-width: 733px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 75px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
    }
}
@media screen and (max-width: 555px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 50px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 426px) {
    main{
        .ubicacion{
            div{
                h2{
                    font-size: 25px;
                }
                .linea{
                    height: 2px;
                }
            } 
        }
        .nosotros{
            .nosotros-imagen{
                display: none;
            }
            .nosotros-texto{
                h2{
                    font-size: 25px;
                }
                p{
                    font-size: 16px;
                }
                a{
                    position: absolute;
                    left: 120px;
                }
                .linea{
                    height: 2px;
                }
            }
        }
        .products{
            height: 900px;
            padding-bottom:30px ;
            .products-titulo{
                h2{
                    font-size: 25px;    
                }
                .linea{
                    height: 2px;
                }
            }
            .products-card{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content:space-evenly;
                gap: 50px;
                width: 100%;
                .tarjetita{
                    width: 50%;
                }
            }
        }
    }
    footer{
        .footer-hdp{
            h4{
                font-size: 20px ;
                font-weight: 600;
            }
            p{
                text-decoration: none;
                font-size: 10px;
                font-weight: 200;
            }
        }
        p{
            font-size: 12px;
            font-weight: 200;
        }
        .footer-redes{
            display: flex;
            flex-direction: column;
            img{
                height: 60%;
                width: 60%;
            }          
        }
    }
}

@media screen and (max-width: 377px) {
    main{
        .hero{
            .hero-titulo{
                h2{
                    font-size: 35px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

