$color-primario: #212529;
$color-secundario: #eb880e;
$color-terciario: #fff;


%flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexcc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin  flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}   
